
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

body, html {
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.7;
}

h1, h2, h3 {
  font-weight: 500;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.page-contents {
  padding: 20px 150px;
}

.portfolio-details-image {
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.2);
  display: block;
  margin: auto;
  height: 500px;
  object-fit: cover;
  object-position: top left;
  width: 70%;
}

.portfolio-card:hover {
  opacity: 0.7;
  transition: 0.3s;
}

:target::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

.App {
  text-align: center;
}


#banner-text{
  font-family: 'Raleway', sans-serif; 
  font-size: 30px;
  letter-spacing: 8px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
}

#banner-text h1 {
  font-weight: 100;
}

.features-list {
  padding-left: 2em;
}

.features-list

.portfolio-card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 400px;
  transition: 0.3s;
  margin: 1%;
  display: inline-block;
  width: 48%;
}

.portfolio-card:hover {
  box-shadow: 1px 8px 16px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.portfolio-image {
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
  height: 88%;
  object-fit: cover;
  object-position: top left;
  width: 100%;
}

.portfolio-card-text {
  text-align: center;
  padding: 2px 16px;
}

#portfolio-home-button {
  text-align: center;
  background-color: rgb(47, 255, 0);
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  color: black;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 5px;
  max-width: 25%;
  display: block;
  margin: 35px auto 0px auto;
}

.skills-list {
  max-width: 100%;
  padding: 0px 20px;
}

.skill-item {
  max-width: 100%;
  padding: 0px 20px;
}

.skill-icon {
  background-color: rgb(100, 100, 100);
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  color: white;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 20px;
}

ul {
  padding-left: 0;
}

.contact-info {
  margin: auto;
  font-weight: 500;
  text-align: center;
}

.contact-me-list, #topnav li {
  list-style: none;
}

.contact-me-list li:hover, .contact-me-list a:hover {
  color: green;
  transition: 0.3s;
}

.fa {
  padding-right: 10px;
}

.footer {
  background-color: black;
  box-shadow: 1px 1px 1px #222;
  color: white;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
  padding: 15px;
  text-align: center;
}


.topnav {
  background-color: black;
  box-shadow: 1px 1px 1px #222;
  font-weight: 200;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  z-index: 99;
}

.topnav a {
  color: #fff;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  height: 30px;
  line-height: 50%;
  padding: 5px 30px 5px 10px;
}

.chimera-logo {
  align-items: left;
  display: inline-block;
  left: 0%;
  margin-left: 30px;
  position: fixed;
  width: 80px;
  vertical-align: middle;
}

.topnav a:hover {
  color: rgb(47, 255, 0);
  transition: 0.3s;
}

.topnav .icon {
  border: none;
  color: white;
  display: none;
  background: none;
}

#banner-text{
  margin: 0px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#top-banner {
  background: linear-gradient(0deg, rgb(82, 81, 81) 0%, rgb(0, 0, 0) 100%);
  background-position: center;
  background-size: cover;
  color: white;
  max-width: 100%;
  overflow: hidden;
  padding: 140px 0px 70px 0px;
  position: relative;
  color: white;
}

@media screen and (max-width: 1200px) {
  .portfolio-card, .portfolio-details-image {
    width: 100%;
    height: 450px;
  }
  #portfolio-home-button {
    max-width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .page-contents {
    padding: 5%;
  }
  .portfolio-card, .portfolio-details-image {
    width: 100%;
    height: 400px;
  }
  #top-banner {
    padding: 90px 0px 20px 0px;
  }
}

@media screen and (max-width: 600px) {
  .chimera-logo {
    display: none;
  }
  .portfolio-card, .portfolio-details-image {
    width: 100%;
    height: 290px;
  }
  .portfolio-image {
    height: 100%;
  }
  .portfolio-card-text {
    display: none;
  }
  .skill-deck {
    font-size: 0.9em;
  }
  .topnav {
    padding: 0px 0px 0px 10px;
  }
  .topnav a:not(:first-child) {
    display: none;
    padding: 10px 10px 0px 0px;
  }
  .topnav .icon {
    display: block;
    float: right;
    outline: none;
    padding: 10px;
    font-size: 1.2em;
  }

  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  #banner-text {
    font-size: 1.2em;
    line-height: 3em;
  }
  #portfolio-home-button {
    max-width: 60%;
  }
  #top-banner {
    padding: 80px 0px 10px 0px;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-card {
    height: 250px;
  }
  #portfolio-home-button {
    max-width: 70%;
  }
}